<div class="card">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Métodos de Ordenação</div>
        <div class="card-body">
            <h5 style="text-align: center;" class="card-title">Tamanho do array utilizado é de {{array.length}}</h5>
            
            <p class="card-text">Tempo de execução: {{time}} </p>
        </div>
    </div>
    <div class="buttonOrdenar">
        <button type="button" (click)="test()" class="btn btn-success">Ordenar</button>
    </div>
</div>